---
layout: default
title: Project Chrono - An Open-Source Physics Engine
---

<style type="text/css">
	
	.carousel-inner > .item > img {
		object-fit: cover;
		height: 550px;
		width: 100%;
	}
	.carousel-control.left {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 1;
	}
	.carousel-control.right {
		background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 1;
	}

	.carousel-caption {
		padding-left: 30px;
		left: 0px;
		top: 0px;
		text-align: left;
		font-size:120%;
		font-weight: bold;
		text-shadow: none;
	}
	.credits {
		position: absolute;
		color : #404040;
		padding-left: 30px;
		left: 0px;
		top: 0px;
		text-align: left;
		font-size:100%;
	}

    .chfeature {
		border-radius: 15px 50px 15px 15px;
		border-width: 3px;
		border-style: solid;
		border-color: #FF8800;
		overflow: hidden;
		margin-bottom: 35px;
		padding-right: 15px;
		background-color: #FCFCFC;
		height: 180px;
		font-size: 80%;
	}
	.chfeature img {
		width: 60px;
		margin-right: 15px;
		float: left;
		object-fit: cover;
		height: 100%;
		min-height: 180px;
		filter: grayscale(100%);
		opacity: 0.5;
	}
    </style>
	

	<a id="top"></a>
	
	<div class="jumbotron" style="margin-top: 80px;">
		<div class="text-center"> 
			<!--<p><img src="/images/project_chrono_logo.png" alt="project_chrono_logo" height="150"></p>-->
			<h1>
				{% include module.html first="PROJECT" second="CHRONO" %}
			</h1>
			<h2> An Open Source Multi-physics Simulation Engine</h2>
		</div>

		<div class="text-center" style="padding-top:30px"> 
			<div class="row">
				<div class="col-sm-4">
					<h6><a href="/download"<button type="button" class="btn btn-primary btn-lg"> <i class="fa fa-download fa-1x"></i> Download </button></a></h6>
				</div>
				<div class="col-sm-4">
					<h6><a href="http://api.projectchrono.org"<button type="button" class="btn btn-warning btn-lg"> <i class="fa fa-map fa-1x"></i> Documentation </button></a></h6>
				</div>
				<div class="col-sm-4">
					<h6><a href="https://github.com/projectchrono/chrono"<button type="button" class="btn btn-default btn-lg"> <i class="fa fa-github-square fa-1x"></i> View on Github </button></a></h6>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container-flow"  style="background-color:#E0E0E0;">	
<div class="container">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			<li data-target="#carousel-example-generic" data-slide-to="5"></li>
			<li data-target="#carousel-example-generic" data-slide-to="6"></li>
			<li data-target="#carousel-example-generic" data-slide-to="7"></li>
			<li data-target="#carousel-example-generic" data-slide-to="8"></li>
			<li data-target="#carousel-example-generic" data-slide-to="9"></li>
			<li data-target="#carousel-example-generic" data-slide-to="10"></li>
			<li data-target="#carousel-example-generic" data-slide-to="11"></li>
			<li data-target="#carousel-example-generic" data-slide-to="12"></li>
			<li data-target="#carousel-example-generic" data-slide-to="13"></li>
			<li data-target="#carousel-example-generic" data-slide-to="14"></li>
			<li data-target="#carousel-example-generic" data-slide-to="15"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"> <img src="assets/Images/humvee_fording.png"  alt="Vehicle Fording"><div class="carousel-caption"> Vehicle Fording </div></div>
			<div class="item"> <img src="http://projectchrono.org/assets/carousel/vault_collapse.jpg"  alt="Vault collapse"> <div class="carousel-caption"> Collapse of Two Vaults </div></div>
			<div class="item"> <img src="assets/Images/plow_vel_165.jpg"  alt="Tracked Vehicle Plowing"><div class="carousel-caption"> Tracked Vehicle </div></div>
			<div class="item"> <img src="assets/Images/humvee_ditch.jpg" alt="Vehicle driving through ditch"> <div class="carousel-caption"> Vehicle Negotating Ditch </div></div>
			<div class="item"> <img src="assets/Images/foam.jpg"  alt="Colourful extrusion of cohesive material"> <div class="carousel-caption"> Extrusion, Composite Material </div></div>
			<div class="item"> <img src="assets/Images/2millionrover.jpg" alt="Two million rigid body rover simulation using MPI"> <div class="carousel-caption"> Rover 2 Million Bodies </div> </div>
			<div class="item"> <img src="http://projectchrono.org/assets/carousel/vacheron_gray.jpg"  alt="Mechanical clock"> <div class="carousel-caption"> Mechanical Clock </div></div>
			<div class="item"> <img src="assets/Images/wet_cereal.jpg"  alt="Tracked Vehicle Plowing"><div class="carousel-caption"> Flexible Bowl Filled With Milk And Cereal </div></div>
			<div class="item"> <img src="assets/Images/chainMail.jpg"  alt="Multiple layers of chainmail sheets"> <div class="carousel-caption"> Chain-mail Sheets, 3D Printing Related </div> </div>
			<div class="item"> <img src="assets/Images/anchorCutaway.jpg"  alt="Anchor driven in granular material"> <div class="carousel-caption"> Anchoring in Poly-Disperse Granular Material </div> </div>
			<div class="item"> <img src="assets/Images/ANCFHumveeTire.png"  alt="Radial strain distribution in ANCF HMMWV tire"> <div class="carousel-caption"> Radial Strain Distribution in ANCF HMMWV Tire </div> </div>
			<div class="item"> <img src="assets/Images/tower_collapse1.jpg"  alt="Spehere-hexahedron mixing"><div class="carousel-caption">Sphere-Hexahedron Mixing Problem</div></div>
			<div class="item"> <img src="assets/Images/TrackImage.jpg"  alt="Double track simulation"><div class="carousel-caption">Double Track</div></div>
			<div class="item"> <img src="assets/Images/Tower_Still.jpg"alt="Chrome sphere annihilates blocks"><div class="carousel-caption">Block Tower</div></div>
			<div class="item"> <img src="assets/Images/Particle_beam.jpg" alt="Fluid-solid interaction simulation"><div class="carousel-caption">Fluid-Solid Interaction</div></div>
			<div class="item"> <img src="assets/Images/Wave_granular.jpg" width="940" alt="Shock-wave propagation in granular media"><div class="carousel-caption">Shock-Wave Propagation in Granular Material</div></div>	
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		
		<div class="credits"> 
			   <strong>Simulated Using</strong> {% include module.html first="" second="CHRONO" %}:
		</div> 
	</div>
</div>	
</div>	
	
	

	
<div class="container">
	<div class="text-center" style="margin-top:50px"> 
	</div> 
	
	<div class="container">
	  <div class="row">
		  <div class="col-md-4">
			<h2>Why {% include module.html first="PROJECT" second="CHRONO" %}?</h2>
			<p>Chrono is a physics-based modelling and simulation infrastructure based on a platform-independent open-source design implemented in C++. A {% include module.html first="PROJECT" second="CHRONO" %} library can be embedded in a software project to simulate, for instance, wheeled and tracked vehicles operating on deformable terrains, robots, mechatronic systems, compliant mechanisms, and fluid solid interaction phenomena. 
			Systems can be made of rigid and flexible/compliant parts with constraints, motors and contacts; parts can have three-dimensional shapes for collision detection.</p>
			<p>There is also a Python version of Chrono,<a href="https://projectchrono.org/pychrono">PyChrono</a>.</p>
			<p>Chrono is cross-platform, open source, and released under a <a href="https://projectchrono.org/license-chrono.txt">BSD-3 license</a>.</p>

		  </div> <!-- col-md-4 -->
		  
		  <div class="col-md-4">
			<h2>Select {% include module.html first="PROJECT" second="CHRONO" %} applications</h2>
			<ul>
			<li>Robotics</li>
			<li>Wheeled vehicle dynamics</li>
			<li>Tracked vehicle  dynamics</li>
			<li>Nonlinear finite element analysis</li>
			<li>Mechatronics</li>
			<li>Off-road vehicle mobility</li>
			<li>Terramechanics</li>
			<li>Virtual reality</li>
			<li>Granular flows</li>
			<li>Collision detection</li>
			<li>Autonomous vehicles</li>
			<li>Seismic engineering</li>
			<li>Augmented reality</li>
			</ul>
		  </div> <!-- col-md-4 -->
		  
		  <div class="col-md-4">
			<h2>Useful Links</h2>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2">
				 <i class="fa fa-github-square fa-2x" style="color:#FF8800;"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="https://github.com/projectchrono/chrono">GitHub repository</a></h4>
				<p>Access to {% include module.html first="PROJECT" second="CHRONO" %} source code.</p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2">
				 <i class="fa fa-sign-in fa-2x" style="color:#FF8800;"></i>
			  </div> <!-- col-md-2 col-xs-2 -->
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="http://api.projectchrono.org/tutorial_install_chrono.html">Installation</a></h4>
				<p>How to install and compile.</p>
			  </div> <!-- col-md-10 col-xs-10 -->
			</div> <!-- row -->

			<div class="row">
			  <div class="col-md-2 col-xs-2">
				<i class="fa fa-map fa-2x" style="color:#FF8800;"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="http://api.projectchrono.org/">Documentation</a></h4>
				<p>Main documentation page.</p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2" style="color:#FF8800;">
				<i class="fa fa-comments-o fa-2x"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="https://groups.google.com/g/projectchrono">Forum</a></h4>
				<p>Find answers to your questions.</p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2" style="color:#FF8800;">
				<i class="fa fa-users fa-2x"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="/consulting/">Contact</a></h4>
				<p>We can help with your projects.</p>
			  </div>
			</div>
			
		  </div> <!-- col-md-4 -->
	  </div>  <!-- row -->
	</div> <!-- container -->
	
	
	
	<a id="features"></a>
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10"><hr/></div>
	  <div class="col-md-1" style="margin-top:10px">
		<a href='#top'><small>Top</small><span class="glyphicon glyphicon-arrow-up"></span></a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12 text-center">
		<h1>Features</h1>
	  </div>
	</div>
	
	
	<div class="row">
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_multibody.jpg" alt="">
				<h3>Multibody dynamics</h3>
				Run simulations of mechanisms made of rigid bodies. 
				Apply constraint to parts using a wide set of joints. 
				Add motors, linear actuators, springs and dampers.
				Apply forces and torques.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_fea.jpg" alt="">
				<h3>Finite elements</h3>
				Use the FEA module to create finite elements and model flexible parts.
				Beams, cables, shells, solid tetrahedrons and hexahedrons.
				Apply local or distributed loads.
				Perform non-linear analysis with large deformations.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_vehicle.jpg" alt="">
				<h3>Vehicle dynamics</h3>
				Use Chrono::Vehicle to model wheeled or tracked vehicles using a template-based approach.
				Leverage a wide set of suspension templates. Use various soil and tire models.
				Add powertrains/drivelines using 1D elements: clutches, brakes, reducers, and torque converters.
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_largescale.jpg" alt="">
				<h3>Large scale simulation</h3>
				Exploit the parallel version of Chrono to simulate large scenarios such as
				granular flows, vehicle-soil interaction, and fluid-solid interaction.
				Perform co-simulation with other CFD and FEA software packages.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_collision.jpg" alt="">
				<h3>Collision detection</h3>
				Define collision shapes using meshes or primitives. 
				Compute frictional contact forces using state-of-the-art collision detection algorithms.
				Define surface properties and surface families.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_api.jpg" alt="">
				<h3>Open API design</h3>
				Chrono is middleware, designed from ground up to be customized and embedded in other simulation software. 
				Plug-in optional modules available for post-processing and real-time visualization.
				Chrono is cross-platform, open source, and release under a <a href="https://projectchrono.org/license-chrono.txt">BSD-3 license</a>.
			</div>
		</div>
	</div>
</div>
	
	<a id="pychrono"></a>
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10"><hr/></div>
	  <div class="col-md-1" style="margin-top:10px">
		<a href='#top'><small>Top</small><span class="glyphicon glyphicon-arrow-up"></span></a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12 text-center">
		<h1>Other</h1>
	  </div>
	</div>
	
<div class="container" style="padding-top:3em;">
	<div class="row">
		<div class="col-md-4">
			<div style="">
			  <a href="./pychrono"><img src="./pychrono/logo_pychrono.svg" alt="PYCHRONO" style="width:93%;"></a>
			  <h3 style="color:rgb(100,100,100)">Chrono for Python</h3>
			</div>
		</div>
		<div class="col-md-2" style="text-align:center">
				<img src="./pychrono/logo_python.png" alt="Python" style="height:50px"> <br>
				<img src="./pychrono/logo_anaconda.png" style="height:40px" alt="Anaconda">
		</div>
		<div class="col-md-6" style="background-color:#FF8800; color:white; border-radius: 15px 50px 15px 15px; font-size: 80%; font-weight: bold; padding:2em">
			<p>A simpler alternative to C++ programming: use the Python language to exploit the capabilities of Chrono.</p>
			<p> <a href="./pychrono">PyChrono</a> is the new Python wrapper of the Chrono simulation library. It is cross-platform, open source, and 
			distributed as pre-compiled binaries using Anaconda. Using Chrono in Python is as easy as installing the Anaconda PyChrono package and typing
			<tt> import pychrono</tt> in your preferred Python IDE.</p>
			<p>You can use PyChrono together with many other Python 
			libraries: do plots using MayaVi, do postprocessing with NumPy, train AI neural networks
			with TensorFlow, etc.</p>
		</div>
	</div>
</div>
