<div id="footer">
  <div class="container narrow row-fluid">
    <div class="row">
      <div class="col-md-4 col-xs-4 text-left">
		<small>
        <p class="">&copy; 2018 Project Chrono. <br> 
		A community project led by the <a href="http://sbel.wisc.edu">University of Wisconsin-Madison</a> and <a href="http://www.projectchrono.org/tasora/">University of Parma-Italy</a>.</p>
		</small>
      </div>

      <div class="col-md-4 col-xs-4 text-center">
	    <p class=""> </p>
      </div>
	  
	  <div class="col-md-4 col-xs-4 text-left">
		<small>
        <p class="">Project Chrono is open-source, hosted on <br>
		</small>
		<a href="https://github.com/projectchrono/chrono"> <i class="fa fa-github-square fa-1x"></i> GitHub </a> </p>
      </div>
	 
    </div> <!-- row -->
  </div> <!-- container -->
</div> <!-- footer -->

<script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/vendor/bootstrap-hover-dropdown.min.js"></script>
<script src="/js/main.js"></script>
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML'></script>