---
layout: default
title: Project Chrono - An Open-Source Physics Engine
---

<style type="text/css">
	
	.wrapper {
	  width: 100%;
	  min-height: 400px;
	  display: inline-block;
	  position: relative;
	}
	.wrapper:after {
	  padding-top: 30%;
	  display: block;
	  content: '';
	}
	.main {
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  right: 0;
	  left: 0;
	  background-color: #505050;
	  color: white;
	}

	.carousel {
		height: 100%;
	}
	.carousel-inner {
		height: 100%;
	}
	
	.carousel-inner > .item {
		height: 100%;
	}
	
	.carousel-inner > .item > img {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.carousel-control.left {
		background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 1;
	}
	.carousel-control.right {
		background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
		opacity: 1;
	}

	.carousel-caption {
		bottom: 0px;
		padding-bottom: 10px;
		text-align: center;
		font-size:90%;
		font-weight: bold;
		text-shadow: none;
	}
	.credits {
		position: absolute;
		color : #404040;
		padding-left: 30px;
		left: 0px;
		top: 0px;
		text-align: left;
		font-size:100%;
	}

    .chfeature {
		border-radius: 15px 50px 15px 15px;
		border-width: 3px;
		border-style: solid;
		border-color: #FF8800;
		overflow: hidden;
		margin-bottom: 35px;
		padding-right: 15px;
		background-color: #FCFCFC;
		height: 180px;
		font-size: 80%;
	}
	.chfeature img {
		width: 60px;
		margin-right: 15px;
		float: left;
		object-fit: cover;
		height: 100%;
		min-height: 180px;
		filter: grayscale(100%);
		opacity: 0.5;
	}
    </style>
	

	<a id="top"></a>
	

</div>




<div class="wrapper">
  <div class="main">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
			<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			<li data-target="#carousel-example-generic" data-slide-to="4"></li>
			<li data-target="#carousel-example-generic" data-slide-to="5"></li>
			<li data-target="#carousel-example-generic" data-slide-to="6"></li>
			<li data-target="#carousel-example-generic" data-slide-to="7"></li>
			<li data-target="#carousel-example-generic" data-slide-to="8"></li>
			<li data-target="#carousel-example-generic" data-slide-to="9"></li>
			<li data-target="#carousel-example-generic" data-slide-to="10"></li>
			<li data-target="#carousel-example-generic" data-slide-to="11"></li>
			<li data-target="#carousel-example-generic" data-slide-to="12"></li>
			<li data-target="#carousel-example-generic" data-slide-to="13"></li>
			<li data-target="#carousel-example-generic" data-slide-to="14"></li>
			<li data-target="#carousel-example-generic" data-slide-to="15"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active"> <img src="http://sbel.wisc.edu/assets/Images/humvee_fording.png"  alt="Vehicle Fording"><div class="carousel-caption"> Vehicle Fording </div></div>
			<div class="item"> <img src="http://projectchrono.org/assets/carousel/vault_collapse.jpg"  alt="Vault collapse"> <div class="carousel-caption"> Collapse of two vaults </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/plow_vel_165.jpg"  alt="Tracked Vehicle Plowing"><div class="carousel-caption"> Tracked Vehicle </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/humvee_ditch.jpg" alt="Vehicle driving through ditch"> <div class="carousel-caption"> Vehicle Ditch </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/foam.jpg"  alt="Colourful extrusion of cohesive material"> <div class="carousel-caption"> Extrusion, Composite Material </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/2millionrover.jpg" alt="Two million rigid body rover simulation using MPI"> <div class="carousel-caption"> Rover 2 Million Bodies </div> </div>
			<div class="item"> <img src="http://projectchrono.org/assets/carousel/vacheron_gray.jpg"  alt="Mechanical clock"> <div class="carousel-caption"> Mechanical clock </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/wet_cereal.jpg"  alt="Tracked Vehicle Plowing"><div class="carousel-caption"> Flexible Bowl Filled With Milk And Cereal </div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/chainMail.jpg"  alt="Multiple layers of chainmail sheets"> <div class="carousel-caption"> Chain-mail Sheets </div> </div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/anchorCutaway.jpg"  alt="Anchor driven in granular material"> <div class="carousel-caption"> Anchoring in Poly-Disperse Granular Material </div> </div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/ANCFHumveeTire.png"  alt="Radial strain distribution in ANCF HMMWV tire"> <div class="carousel-caption"> Radial Strain Distribution in ANCF HMMWV Tire </div> </div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/tower_collapse1.jpg"  alt="Tower crumbles"><div class="carousel-caption">Block Tower</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/TrackImage.jpg"  alt="Double track simulation"><div class="carousel-caption">Double Track</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/Tower_Still.jpg"alt="Chrome sphere annihilates blocks"><div class="carousel-caption">Block Tower</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/Particle_beam.jpg" alt="Fluid-solid interaction simulation"><div class="carousel-caption">Fluid-Solid Interaction</div></div>
			<div class="item"> <img src="http://sbel.wisc.edu/assets/Images/Wave_granular.jpg" width="940" alt="Shock-wave propagation in granular media"><div class="carousel-caption">Shock-Wave Propagation in Granular Material</div></div>	
			
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		
		<!--  
		<div class="credits"> 
			   <strong>Simulated Using</strong> {% include module.html first="" second="CHRONO" %}:
		</div> 
		-->
		
		<div class="text-center" style="text-align: center; position:absolute; top:30px; width:100%; "> 
			<!--<p><img src="/images/project_chrono_logo.png" alt="project_chrono_logo" height="150"></p>-->
			<h1>
				<span style="background-color: rgba(0, 0, 0, 0.3); font-size: 140%; font-size: 8vw;">{% include module.html first="PROJECT" second="CHRONO" %}</span>
			</h1>
			<h2> An Open Source Multi-physics Simulation Engine</h2>
		</div>

	</div>
  </div>	
</div>
	
<div class="container" style="padding-top:20px">
		<div class="text-center" > 
			<div class="row">
				<div class="col-sm-4">
					<h6><a href="/download"<button type="button" class="btn btn-primary btn-lg"> <i class="fa fa-download fa-1x"></i> Download </button></a></h6>
				</div>
				<div class="col-sm-4">
					<h6><a href="http://api.chrono.projectchrono.org"<button type="button" class="btn btn-warning btn-lg"> <i class="fa fa-map fa-1x"></i> Documentation </button></a></h6>
				</div>
				<div class="col-sm-4">
					<h6><a href="https://github.com/projectchrono/chrono"<button type="button" class="btn btn-default btn-lg"> <i class="fa fa-github-square fa-1x"></i> View on Github </button></a></h6>
				</div>
			</div>
		</div>
</div>		
	
<div class="container">
	<div class="text-center" style="margin-top:50px"> 
	</div> 
	
	<div class="container">
	  <div class="row">
		  <div class="col-md-4">
			<h2>Why {% include module.html first="PROJECT" second="CHRONO" %}?</h2>
			<p>Chrono is a physics-based modelling and simulation infrastructure based on a platform-independent, open-source design, entirely written in C++. You can embed this library in your software projects if you need to simulate mechanical systems such as a vehicles, robots, suspension systems, automatic devices, mechatronic systems and so on. 
			Systems can be made of rigid parts with constraints, motors and contacts; parts can have three-dimensional shapes for collision detection.
			Optional advanced modules can be used to simulate also flexible parts, fluids, power trains, etc.</p>
		  </div> <!-- col-md-4 -->
		  
		  <div class="col-md-4">
			<h2>Applications</h2>
			<ul>
			<li>Robotics</li>
			<li>Vehicle dynamics</li>
			<li>Mechanical engineering</li>
			<li>Mechatronics</li>
			<li>Virtual reality</li>
			<li>Granular flows</li>
			<li>Embedded simulators</li>
			<li>Collision detection</li>
			<li>Autonomous vehicles</li>
			<li>Teaching and research</li>
			<li>Seismic engineering</li>
			<li>Augmented reality</li>
			<li>Large-scale multibody</li>
			<li>...</li>
			</ul>
		  </div> <!-- col-md-4 -->
		  
		  <div class="col-md-4">
			<h2>Useful Links</h2>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2">
				 <i class="fa fa-github-square fa-2x" style="color:#FF8800;"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="https://github.com/projectchrono/chrono">GitHub repository</a></h4>
				<p>The source code is here.</p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2">
				 <i class="fa fa-sign-in fa-2x" style="color:#FF8800;"></i>
			  </div> <!-- col-md-2 col-xs-2 -->
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="http://api.chrono.projectchrono.org/tutorial_install_chrono.html">Install</a></h4>
				<p>How to install and compile.</p>
			  </div> <!-- col-md-10 col-xs-10 -->
			</div> <!-- row -->

			<div class="row">
			  <div class="col-md-2 col-xs-2">
				<i class="fa fa-map fa-2x" style="color:#FF8800;"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="http://api.chrono.projectchrono.org/">Documentation</a></h4>
				<p>Main documentation page.</p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2" style="color:#FF8800;">
				<i class="fa fa-comments-o fa-2x"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="/forum/">Forum</a></h4>
				<p>Meet the user community.</p>
			  </div>
			</div>
			
			<div class="row">
			  <div class="col-md-2 col-xs-2" style="color:#FF8800;">
				<i class="fa fa-users fa-2x"></i>
			  </div>
			  <div class="col-md-10 col-xs-10 usefullink-item">
				<h4><a href="/consulting/">Consulting</a></h4>
				<p>We can collaborate.</p>
			  </div>
			</div>
			
		  </div> <!-- col-md-4 -->
	  </div>  <!-- row -->
	</div> <!-- container -->
	
	
	
	<a id="features"></a>
	<div class="row">
	  <div class="col-md-1"></div>
	  <div class="col-md-10"><hr/></div>
	  <div class="col-md-1" style="margin-top:10px">
		<a href='#top'><small>Top</small><span class="glyphicon glyphicon-arrow-up"></span></a>
	  </div>
	</div>
	<div class="row">
	  <div class="col-md-12 text-center">
		<h1>Features</h1>
	  </div>
	</div>
	
	
	<div class="row">
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_multibody.jpg" alt="">
				<h3>Multibody dynamics</h3>
				Run simulations of mechanisms made of rigid bodies. 
				Apply constraint to parts using a wide set of joints. 
				Add engines, linear actuators, springs and dampers.
				Apply forces and torques.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_fea.jpg" alt="">
				<h3>Finite elements</h3>
				Use the FEA module to create finite elements and model flexible parts.
				Beams, cables, shells, solid tetrahedrons and hexahedrons.
				Apply local or distributed loads.
				Perform non-linear analysis with large deformations.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_vehicle.jpg" alt="">
				<h3>Vehicle dynamics</h3>
				Use the Vehicle module to model wheeled or tracked vehicles.
				Leverage on a wide set of suspension templates. Use various soil and tire models.
				Add powertrains using 1D elements: clutches, brakes, reducers, torque converters etc.
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_largescale.jpg" alt="">
				<h3>Large scale simulations</h3>
				Exploit the parallel version of Chrono to simulate large scenarios:
				granular flows, vehicle-soil interaction, etc.
				Perform co-simulation with other software: CFD, FEA, etc.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_collision.jpg" alt="">
				<h3>Collision detection</h3>
				Define collision shapes using meshes or primitives. 
				Compute frictional contacts automatically using state-of-the-art collision detection algorithms.
				Define surface properties and surface families.
			</div>
		</div>
		<div class="col-md-4">
			<div class="chfeature">
				<img src="images/feature_badges/feature_api.jpg" alt="">
				<h3>Open API design</h3>
				All features can be extended or modified using C++ inheritance.
				Embed Chrono simulation in your software. 
				Plug-in optional modules for post-processing, real-time visualization, etc.
				Chrono is cross-platform, open source, and free.
			</div>
		</div>
	</div>
	
	